<div class="container mt-3">
  <!-- <div class="col-4"> -->
    <div class="card col-12">
      <img class="card-img-top" src="../../../../assets/ph.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Beach Name</h4>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum aspernatur dolore nihil. Velit, tenetur commodi.</p>
        <a href="#" class="btn btn-primary">Details</a>
      </div>
    </div>
  <!-- </div> -->
</div>
  