<div class="container1">
<form >
    <div class="row ">
        <div class="col-8 offset-1"><h3 class="tit"> Modify Private Beach </h3></div>            
    </div>
    <div class="row mb-3">
        <div class="col-5 offset-1 ">
            <label class="form-label" for="Privatebeachname">Beach_Name</label>
            <input type="text" class="form-control" id="Privatebeachname"  formcontroName="privatebeachname"required>
           
        </div>
        <div class="col-5">
            <label class="form-label" for="input-location">Location</label>
            <input class="form-control" type="text" id="input-location" formControlName="input-location" required>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-5 offset-1"> 
            <label class="form-label" for="menu">Menu Photos </label>
            <input class="form-control" type="file" id="menu" >
        </div>
        <div class="col-5">
            <label class="form-label" for="input-photos">Resturant Photos</label>
            <input class="form-control" type="file" id="input-photos" >
        </div>
    <div class="row mb-3">
        <div class="col-5 offset-1">
            <label class="form-label" for="input-city">City</label>
            <select class="form-select" id="input-city">
                <option >Djerba</option>
                <option>Hammamet</option>
                <option>Tunis</option>
            </select>
        </div>
        <div class="col-5">
          
        </div>
    </div>
 

    </div>  
    <div class="row mb-3">
        <div class="col-10 offset-1">
            <label class="form-label" for="desc">Description</label>
            <textarea id="desc" > </textarea>
         
        </div>

    </div>
    <div class="row mb-3 ">
        <div class="col-5 offset-1 ">
            <div class="d-grid">
                <button class="btn btn-submit btn-block" class="a1">Cancel</button>
            </div>      
        </div >
        <div class="col-5">
            <div class="d-grid">
                <button class="btn btn-submit btn-block" class="a1" > MODIFY</button>
            </div>
                
         </div>  
       
     </div>   
</form>
</div>