<app-top-image></app-top-image>

<div class="row mt-3">
    <!-- <app-description-client class="col-8"></app-description-client> -->
    <div class="col-8">
        <h2>Information About The Beach</h2>
<div class="row">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius corrupti amet laborum dolorem mollitia. Odio assumenda voluptatibus nihil hic mollitia inventore est amet fugiat totam quidem cumque officiis nemo corporis, ratione dolores vitae soluta molestiae delectus.<br> Illum odio optio ad voluptatum eveniet iste veritatis consectetur. Vitae, error? Eveniet, laudantium fuga.
    </p>
    <h4>activity</h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas consequuntur dolorum eaque. Magnam iste architecto  <br> ut error alias vel reiciendis impedit aut. Praesentium sequi dolorum atque, illum ad fuga commodi.</p>
    <h4>activity</h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas consequuntur dolorum eaque. Magnam iste architecto <br> ut error alias vel reiciendis impedit aut. Praesentium sequi dolorum atque, illum ad fuga commodi.</p>
    
</div>
    </div>
    <!-- <app-schedule-client class="col-4"></app-schedule-client>  -->

    <div class="col-4">
        <table class="table table-striped">
            <tr>
              <th scope="row">Lundi</th>
              <td>10h00 - 19h00</td>
              
            </tr>
            <tr>
              <th scope="row">Mardi</th>
              <td>10h00 - 19h00</td>
            </tr>
            <tr>
              <th scope="row">Mercredi</th>
              <td>10h00 - 19h00</td>
            </tr>
            <tr>
                <th scope="row">Jeudi</th>
                <td>10h00 - 19h00</td>
            </tr>
            <tr>
                <th scope="row">Vendredi</th>
                <td>10h00 - 19h00</td>
            </tr>
            <tr>
                <th scope="row">Samdi</th>
                <td>10h00 - 19h00</td>
            </tr>
            <tr>
                <th scope="row">Dimanche</th>
                <td>10h00 - 19h00</td>
            </tr>
          
        </table>
        
    </div>
    
</div>