<!-- <app-header></app-header> -->
<!-- <app-resturant></app-resturant> -->
<!-- <app-container></app-container> -->
<router-outlet></router-outlet>

<!-- <app-info-beach-client></app-info-beach-client> -->
<!-- <app-beaches-c></app-beaches-c> -->

<!-- <app-publicbeach></app-publicbeach> -->

<!-- <app-resturant></app-resturant> -->

<!-- <app-client></app-client> -->

<!-- <app-info-beach-client></app-info-beach-client> -->

<!-- <router-outlet></router-outlet> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-container></app-container> -->
<!-- <app-booking></app-booking> -->
<!-- <app-requests></app-requests> -->
<!-- <app-modify-restaurant></app-modify-restaurant> -->
     
      <!-- <app-owner-header></app-owner-header> -->
        
    
            <!-- <div class="container1"> -->
                <!-- <div class="add"></div>
                <app-modify-restaurant></app-modify-restaurant>
                <app-resturant></app-resturant> -->
                    

                
            <!-- </div> -->