form{width: 600px;
    background-color: rgb(240,240,240,0.6); 
       padding: 20px;
       border-radius: 20px;
     
   }
   
   .tit{   color: #F24E1E;}
   .cbtn{ color: #F24E1E;}
   .a1{background-color: #F24E1E; color:white; font-size: bold;
   border: #F24E1E;border-radius: 5px;}

   .container1{
    height: 100vh;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     /* background-color: blueviolet; */
     background-image: url('../../assets/background.jpg');
    }