<app-header></app-header>
<router-outlet></router-outlet>
<!-- <router-outlet></router-outlet> -->
<!-- <app-container></app-container> -->
<!-- <app-booking></app-booking> -->
<!-- <app-requests></app-requests> -->
<!-- <app-modify-restaurant></app-modify-restaurant> -->
     
      <!-- <app-owner-header></app-owner-header> -->
        
    
            <!-- <div class="container1"> -->
                <!-- <div class="add"></div>
                <app-modify-restaurant></app-modify-restaurant>
                <app-resturant></app-resturant> -->
                    

                
            <!-- </div> -->