<div class="container1">
<form class="border border-dark">
    <div class="row ">
        <div class="col-8 offset-1"><h3 class="tit"> ADD Resturant </h3></div>            
    </div>
    <div class="row mb-3">
        <div class="col-5 offset-1 ">
            <label for="input-id" class="form-label">Id_beach</label> 
            <input type="text" id="input-id" class="form-control"> 
                       
        </div>
        <div class="col-5">
            <label class="form-label" for="input-resturantname">Resturant_Name</label>
            <input type="text" class="form-control" id="input-resturantname"  formcontroName="input-beachname"required> 
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-5 offset-1">
            <label class="form-label" for="input-city">City</label>
            <select class="form-select" id="input-city">
                <option >Djerba</option>
                <option>Hammamet</option>
                <option>Tunis</option>
            </select>
        </div>
        <div class="col-5">
            <label class="form-label" for="input-location">Location</label>
            <input class="form-control" type="text" id="input-location" formControlName="input-location" required>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-5 offset-1">
            <label class="form-label" for="input-description">Description</label>
            <input class="form-control" type="text" id="input-description" >
        </div>
        <div class="col-5">
            <label class="form-label" for="tel">Description</label>
            <input class="form-control" type="tel" id="tel" >

        </div>

    </div>
    <div class="row mb-3">
        <div class="col-5 offset-1"> 
            <label class="form-label" for="menu">Menu Photos </label>
            <input class="form-control" type="file" id="menu" >
        </div>
        <div class="col-5">
            <label class="form-label" for="input-photos">Resturant Photos</label>
            <input class="form-control" type="file" id="input-photos" formControlName="input-photos">
        </div>
    </div>  
    <div class="row mb-3 ">
        <div class="col-5 offset-1 ">
            <div class="d-grid">
                <button class="btn btn-submit btn-block" class="a1">Cancel</button>
            </div>      
        </div >
        <div class="col-5">
            <div class="d-grid">
                <button class="btn btn-submit btn-block" class="a1" > ADD</button>
            </div>
                
         </div>  
       
     </div>   
</form>
</div>