/* app-info-beach{
    background-color: blueviolet;
} */

/* app-schedule{
    background-color: aqua;
} */

/* .container{
    background-color: blueviolet;
} */

/* .coment{
    background-color: darkturquoise;
} */