<div class="container-fluid">
    <div class="row">
        <div col="col-4" first>
            <img id="logo" src="../../assets/WhatsApp Image 2024-05-03 at 11.21.49_7fd24c97.jpg" alt="Logo de mon site">
    
        </div>
        
       
        </div>
    

    <p>Discover The Most Beautiful<br><br> Beaches With tabحira</p>
        <div class="search">
            <div class="row">
                <div class="search1">
                    <form>
                        
                      <a class="btn sss" type="button"  name="btn" href="/beaches-c">private</a>
                    
                    <a class="btn btn-primary sss"type="submit"  name="btn" href="/public-client">public</a>
                </form>
                </div>
            
        </div>

</div>