<table class="table table-striped">
        <tr>
          <th scope="row">Lundi</th>
          <td>10h00 - 19h00</td>
          
        </tr>
        <tr>
          <th scope="row">Mardi</th>
          <td>10h00 - 19h00</td>
        </tr>
        <tr>
          <th scope="row">Mercredi</th>
          <td>10h00 - 19h00</td>
        </tr>
        <tr>
            <th scope="row">Jeudi</th>
            <td>10h00 - 19h00</td>
        </tr>
        <tr>
            <th scope="row">Vendredi</th>
            <td>10h00 - 19h00</td>
        </tr>
        <tr>
            <th scope="row">Samdi</th>
            <td>10h00 - 19h00</td>
        </tr>
        <tr>
            <th scope="row">Dimanche</th>
            <td>10h00 - 19h00</td>
        </tr>
      
  </table>
